*.tcl linguist-detectable=false
*.html linguist-detectable=false
*build/ linguist-detectable=false
*/cgfparser.1 linguist-detectable=false
*/cgfparser.2 linguist-detectable=false
*/cgfparser.3 linguist-detectable=false